/*Etiquetas*/

body {
    background-color: #202121;
}

* {
    /* Box 
    height: auto;
    width: auto;
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: ;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    */
    border: opx;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    /* Font & Text */
    font-family: FrutigerNeueLTW01-CnMd, "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    /*font-family: "Frutiger Neue W02 Thin", Arial, Helvetica, sans-serif;
    font-size: 46px;
    font-family: "apercu", sans-serif;
    font-size: 50px;*/
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 2.1px;
    line-height: 45.6px;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    /* Box */
    /* Color & Background */
    background-attachment: scroll;
    /*background-color: rgba(0, 0, 0, 0);*/
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    /*color: rgb(252, 252, 252);*/
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 0px;
    /* Miscellaneous */
    position: static;
    display: block;
    overflow: hidden;
    cursor: text;
    visibility: visible;
}

p, ul li {
    font-family: FrutigerNeueLTW01-CnMd, "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 10px;
}

p{
    margin-top: 15px;    
    margin-bottom: 10px;
}
/*Clase*/

.box-text{
    width: 80%;
    height: 40%;
    margin: 0px auto;
    padding: 50px;
    border: 0px;
    overflow: auto;
}

.layout-conteiner {
    width: 100%;
    margin: 0px 0px;
    padding: 0px;
    border: 0px;
}

.page {
    width: 100%;
    height: 100vh;
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow: visible;
}

.light-theme {
    color: #202121;
    background-color: rgb(252, 252, 252);
    /*background-image: url("../img/page-actor.jpg");*/
    /*background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    opacity: 0.8;*/
}

.dark-theme {
    background-color: #202121;
    color: rgb(252, 252, 252);
}



/*      Menu       */
.Menu{
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
}
.Menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
}
.Menu ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16%;  
    display: inline-block;
    /*position: static;*/
    /* Miscellaneous */
    /*overflow-y:visible;*/
    cursor: pointer;
    visibility: visible;
}

.Menu ul li a{
    /* Font & Text */
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25.5px;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;
    /* Color & Background */
    color: rgb(0, 0, 0);
    /* Box */
}
.Menu ul li a.short{
    margin: 0px auto;   
}

.Menu li:hover, li.selected{
    border-bottom: 3px solid #202121;
}


/*Id*/